.header-box-style {
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    padding: 15px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text {
    margin: 0;
    color: #47761E;
}

.navigation-button {
    background: none;
    border: none;
    color: black;
    margin: 0 10px;
    cursor: pointer;
}

.navigation-join-button {
    background: #47761E;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}