* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  background: #0a1f3a;
  color: white;
}
section {
  min-height: 100vh;
  padding: 80px 20px;
  border-bottom: 5px solid #000000;
}