* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  background: #0a1f3a;
  color: white;
}

#hero {
  margin-top: 70px;
  min-height: calc(100vh - 70px);
}

section {
  min-height: 100vh;
  padding: 20px 20px;
  border-bottom: 5px solid #000000;
}

@media (max-width: 768px) {
  #hero {
    margin-top: 60px;
    min-height: calc(100vh - 60px);
  }
}